//armazena valores que serão reutilizados.
//O que incluir: Variáveis de cores (Hex, RGB), fontes (family, sizes), 
//espaçamentos fixos (paddings/margins padrão), breakpoints de media queries e z-index.

$cor-primaria: #fbfbfb;
$cor-secundaria: #e0e0e0;
$cor-titulo:#323131;
$cor-textos: #454443;
$cor-hover: #000;

$borda-focus: #ccc;
$bg-faleconosco: #b3b1b1;

$btn-bg: #fbfbfb;
$bg2: #b2b1b0;
$btn-color: #ffffff;
$btn-hover: #666666;
